
.cc-validation{
    position: relative;
}

.cc-validation__message--success {
    display: none;
    position: absolute;
    right: 5px;
    //set line-height to the height of the text-box
    line-height: 46px;
    color: #468847;
}

.cc-validation__message--fail {
    display: none;
    background: #F2DEDE;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    color: #B94A48;
}

.cc-validation__message--fail:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: -9px;
    left: 15px;
    background: #F2DEDE;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.cc-valid {
    & > .cc-validation__message--success {
        display: inline-block;
    }
}

.cc-invalid {
    & > .cc-validation__message--fail {
        display: inline-block;
    }
}

//This deals with all different forms of how validations can mess up the grouping :)
.cc-grouped .cc-validation + .cc-text-box,
cc-grouped .cc-validation + .cc-text-box,
.cc-grouped .cc-validation + .cc-validation .cc-text-box,
cc-grouped .cc-validation + .cc-validation .cc-text-box,
.cc-grouped .cc-text-box + .cc-validation .cc-text-box,
cc-grouped .cc-text-box + .cc-validation .cc-text-box,
.cc-grouped .cc-select-box-select-wrapper + .cc-validation .cc-text-box,
cc-grouped .cc-select-box-select-wrapper + .cc-validation .cc-text-box,
.cc-grouped .cc-validation + .cc-select-box-select-wrapper,
cc-grouped .cc-validation + .cc-select-box-select-wrapper
{
    border-top: none;
}

.cc-grouped .cc-validation .cc-text-box:last-child,
cc-grouped .cc-validation .cc-text-box:last-child{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
}

