.cc-link{
    text-decoration: underline;
}

.cc-clearfix, %cc-clearfix{
    content: "";
    display: table;
    clear: both;
}

//some generic helper classes

.cc-unstyled{

    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6{ font-weight: normal; font-size: 100%; }

    address, caption, cite, code, dfn, em, strong, th, var {
        font-style: normal;
        font-weight: normal;
    }
}


.cc-full-width-height, %cc-full-width-height{
    width: 100%;
    height: 100%;
    position:relative;
}

.cc-scrollable-vertical, %cc-scrollable-vertical {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.cc-container,
%cc-container {
    @extend %flexbox;
}

.cc-body{
    @extend %cc-container;

    @include flex(1);

    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.cc-docking-vertical {
    @extend %flexbox;

    @include flex(1);
    @include flex-direction(column);

    min-width: 100%;
    min-height: 100%;
}
