
.cc-text-box {
    width: 100%;
    margin:0;
    padding: 8px 10px;
    border:2px solid #bbb;
    font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
    font-size: inherit;
    line-height: 1.5rem;
    color: #333;
    background: #f8f8f8;
    outline: 0;

    -webkit-user-select: text;
    -webkit-appearance: none;

    &:focus {
        background-color:#fff;
        border-color: lightblue;
        box-shadow:0 0 2px 1px lightblue;
    }

    &:disabled {
        opacity: 0.3;
        cursor: default;
        pointer-events: none;
    }
}
