%cc-message-box--base {
    padding: 10px;
    border-style:solid;
    border-width: 1px;
}

%cc-message-box--iconic {
    position: relative;
    padding-left: 2rem;

    &:before {
        @extend .#{$fa-css-prefix};

        position: absolute;
        left: .5rem;
        top:50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
}

.cc-message-box--success {
    @extend %cc-message-box--base;

    background: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}
.cc-message-box--success--iconic {
    @extend .cc-message-box--success;
    @extend %cc-message-box--iconic;

    &:before {
        content: $fa-var-check-square;
    }
}

.cc-message-box--error {
    @extend %cc-message-box--base;

    background: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.cc-message-box--error--iconic {
    @extend .cc-message-box--error;
    @extend %cc-message-box--iconic;

    &:before {
        content: $fa-var-exclamation-circle;
    }
}

.cc-message-box--info {
    @extend %cc-message-box--base;

    background: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
.cc-message-box--info--iconic {
    @extend .cc-message-box--info;
    @extend %cc-message-box--iconic;

    &:before {
        content: $fa-var-info-circle;
    }
}


.cc-message-box--warning {
    @extend %cc-message-box--base;

    background: #FCF8E3;
    border-color: #E0CCAE;
    color: #C09853;
}
.cc-message-box--warning--iconic {
    @extend .cc-message-box--warning;
    @extend %cc-message-box--iconic;

    &:before {
        content: $fa-var-exclamation-triangle;
    }
}
