
.cc-search-field {
    position: relative;
    display: inline-block;
}

.cc-search-field__input {
    @extend .cc-text-box;

    width:100%;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

%cc-search-field-icons {
    @extend .fa;

    position: absolute;
    font-size: 1rem;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    top: 50%;
    color: #ccc;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.cc-search-field__icon--label {
    @extend %cc-search-field-icons;
    @extend .fa-search;

    left: .25rem;
}
.cc-search-field__icon--clear {
    @extend %cc-search-field-icons;
    @extend .fa-times-circle;

    right: .25rem;
}
