.cc-checkbox {
    position: relative;
}

.cc-checkbox__label:before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:1.5rem;
    height:1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: .333rem;
    background: #f8f8f8;
    border:2px solid #bbb;
}
.cc-checkbox__label:after {
    content:"";
    font-family: FontAwesome;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    width:1.5rem;
    height:1.5rem;
    line-height: 1.5rem;
    color:#555;
}

.cc-checkbox__input {
    position: absolute;
    overflow: hidden;
    padding: 0;
    border: 0;
    opacity: 0.001;
    vertical-align: top;
    outline: none;
    top:0;
    left:0;
}

.cc-checkbox__label {
    position: relative;
    display:block;
    padding-left: 2.5rem;
    line-height: 1.5rem;
}

.cc-checkbox__input:focus + .cc-checkbox__label:before {
    background-color:#fff;
    border-color: lightblue;
    box-shadow:0 0 2px 1px lightblue;
}

.cc-checkbox__input:checked + .cc-checkbox__label:after {
    content:"\f00c";
}
